<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<script> 
  async function likePost(id, liked) { //id, false
    console.log(liked);
    try {
      const response = await fetch(`/posts/${id}/like`, {
        method:"POST",
        headers: {
          'Content-Type': 'application/json'
        },  
        body: JSON.stringify({ liked })
      });
      if (!response.ok) {
        throw new Error(`Failed to like post ${response}`);
      }
      const contentType = response.headers.get('content-type');
     
      if (contentType && contentType.includes('application/json')) {
        const data = await response.json();
        
        const heart=  document.getElementById(`like-button-${id}`);
        const likeCount = data.liked ? heart.classList.add('liked') : heart.classList.remove('liked'); 
        document.getElementById(`likes-count-${id}`).innerText = data.likes;
      } else { 
        console.warn('Response is not JSON', response); 
      }
    } catch (error) {
      console.error('Error liking post:', error);
    }
  }
</script>

<div class="box"> 
  <% if (posts) { %>
  <% posts.forEach(post => { %>
  <div class="card">
    <div class="card-body"> 
        <h5 class="card-title"><%= post.title%></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><%= post.author%></h6>
        <p class="card-text"><%= post.post.substring(0,150)%></p>
        <div>
          <a href="/posts/<%= post._id%>" class="card-link" style="text-decoration: none; color: rgb(192, 162, 162)">Read More</a>
          <a href="#" class="card-link" style="text-decoration: none; color: rgb(192, 162, 162)"><img src="public/like.png" alt=""></a>
          <img src="public/like.png" alt="">
          <p>Likes: <span id="likes-count-<%= post._id %>"><%= post.likes%></span></p>
          <button class="heart <%= post.liked ? 'liked' : '' %>"  style="border:none;background:none;" id="like-button-<%= post._id %>" onclick="likePost('<%= post._id %>', '<%= post.liked %>')">&#9829;</button> 
        </div>
    </div> 
  </div>   
  <%});%>
  <% } else { %>
    <p>Post content is not available.</p>
  <% } %>
      
</div>

<%- include('partials/footer') -%> 