<%- include('partials/header') -%>
 

<div class="box">
  <h2 class="postTitle"><%= title%></h2>
  <p><%= post%></p>
  <p class="post-author">Written By <%= author%></p>
</div>

<%- include('partials/footer') -%>
